.MuiTableContainer-root {
  overflow-x: auto;
  max-width: 1300px;
}

.MuiTableCell-root {
  min-width: 40px;
  word-break: break-word;
  padding: 8px 16px;
}

.MuiTableHead-root .MuiTableCell-root {
  font-weight: bold;
  background-color: #f0f0f0;
}
